.body {
    background-color: rgb(221, 179, 179);
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
    }
    .bmw {
    width: 25%;
    border: 1px solid black;
    padding: 20px;
    }
    .bmw__image {
    height: 120px;
    background-color: #a2a2a2;
    margin: auto;
    }
    .bmw__description {
    margin-top: 15px;
    text-align: center;
    }
    .img {
        max-width: auto;
    }
